.container {
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
}

.markdown-body {
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.markdown-body h1,
.markdown-body h2 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}

.markdown-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}

.markdown-body ul,.markdown-body ol {
  padding-left: 2em;
}

.markdown-body ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body li {
  word-wrap: break-word;
}

.markdown-body li+li {
  margin-top: .25em;
}

.markdown-body img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}